/* Vendors */
@import "vendors/bootstrap/bootstrap"; 
@import "vendors/font-awesome/font-awesome";
@import "vendors/animate";

/*Abstractions */
@import "Abstractions/variables";

/* helpers */
@import "helpers/mixins";
@import "helpers/classes";

@import "layout/grid";
@import "pages/global";

/*Animations */
@import "Animations/blinking";

/* Components */
@import "components/buttons";
@import "components/headings";

/* layout */
@import "layout/header";

@import "pages/splash";
@import "pages/Authorization/login";
@import "pages/Authorization/register";

@import "layout/footer";

.badge {
  font-size: 110%;
}
.v-move {
  transition: transform 1s ease-in-out
}

.absolute {
  position: absolute;
}