/* Headings */
.head-with-center-border {
    position: relative;
    h3 {
        text-align: center;
        margin: 40px auto;
        width: 35%;
        padding: 10px 15px;
        @include prefexir(border-radius,15px);
        &::before {
           content: '';
           width: 100%;
           position: absolute;
           height: 1.5px;
           background-color: $gray-color;
           left: 0;
           top: 50%;
           z-index: -1;
        }
    }
}
.head-with-center-border-md {
    h3 {
        width: 27%;
        padding: 7px 12px;
        font-size: 18px;
        @include prefexir(border-radius,12px);
    }
}
.head-with-center-border-sm {
    h3 {
        width: 20%;
        padding: 5px 10px;
        font-size: 16px;
        @include prefexir(border-radius,10px);
    }
}

// .head-with-bottom-border {
//   padding-bottom: 10px;
//   border-bottom: 2px solid #F00;
//   position: relative;
//   &::after,
//   &::before {
//     content: "";
//     position: absolute;
//     display: block;
//     width: 15px;
//     height: 15px;
//     border: 3px solid #F00;
//     transform: rotate(45deg);
//     background-color: #FFF;
//     bottom: -9px;
//   }
//   &::before {
//     left: -15px;
//   }
//   &::after {
//     right: -15px;
//   }
// }

.head-rounded-by-side {
  position: relative;
  left: 14px;
  color: #FFF;
  padding: 5px 50px;
  font-size: 20px;

  &::after,
  &::before {
    display: block;
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;

  }

  &::after {
    top: 0;
    right: 0;
  }
  &::before {
    top: 8px;
    left: -39px;
  }
}

@each $key,$val in $colors-list {
  .head-rounded-by-side-#{$key}
  {
    @if ($key != white) {
      background-color: #{$val};
      &::after {
        border-color: #{$val} #FFF #{$val} #{$val};
      }
      &::before {
        border-color: #{$val} #{$val} #{$val} #e2e2e2;
      }
    }

  }
}
