// background classes
@each $key,$val in $colors-list {
    .bg-#{$key}
        {
            background-color: #{$val};
			color: #FFF !important;
        }
}
// coolors classes
@each $key,$val in $colors-list {
    .text-#{$key}
        {
            color: #{$val} !important;
		}
}
